@model CRM.Models.Business

@{
    ViewData["Title"] = "ایجاد کسب‌وکار جدید";
}

<h1>ایجاد کسب‌وکار جدید</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" dir="rtl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-right">
                <label asp-for="Name" class="control-label">نام کسب‌وکار</label>
                <input asp-for="Name" class="form-control" placeholder="نام کسب‌وکار را وارد کنید" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <input type="submit" value="ایجاد" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}