@model IEnumerable<CRM.Models.Business>

@{
    ViewData["Title"] = "کسب‌وکارها";
}

<h1>کسب‌وکارها</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">ایجاد کسب‌وکار جدید</a>
</p>
<table class="table table-striped" dir="rtl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">لیست شرکت‌ها</a>
                </td>
            </tr>
        }
    </tbody>
</table>